%section#community-tools-we-share-and-events-we-organize
  %header
    Community - Tools we share and events we organize

  %article
    We believe in contributing back to the development community.

  %section#oss
    %header
      Our Open Source Software

    %article
      %ul
        %li= link_to 'ClientSideValidations', 'https://github.com/bcardarella/client_side_validations'
        %li= link_to 'ClientSideValidations-Rails2', 'https://github.com/bcardarella/client_side_validations-rails_2'
        %li= link_to 'ValidAttribute', 'https://github.com/bcardarella/valid_attribute'
        %li= link_to 'BetterAR', 'https://github.com/better_ar'
        %li= link_to 'RemarkableMongoid', 'https://github.com/remarkable_mongoid'

  %section#events
    %header
      Events we organize

    %article
      %ul
        %li= link_to 'BostonRB ~ Brian Cardarella is the organizer', 'http://bostonrb.org'
        %li= link_to 'RailsCamp New England', 'http://railscamps.com'
        %li= link_to 'StartupSailing', 'http://startupsailing.com'
