%section.community
  %h1 Community
  %h2 Tools we share and events we organize
  %p We believe in contributing back to the development community.

  %article
    %h2 Our Open Source Software
    %ul
      %li= link_to 'ClientSideValidations', 'https://github.com/bcardarella/client_side_validations'
      %li= link_to 'ClientSideValidations-Rails2', 'https://github.com/bcardarella/client_side_validations-rails_2'
      %li= link_to 'ValidAttribute', 'https://github.com/bcardarella/valid_attribute'
      %li= link_to 'BetterAR', 'https://github.com/better_ar'
      %li= link_to 'RemarkableMongoid', 'https://github.com/remarkable_mongoid'

  %article
    %h2 Events
    %ul
      %li= link_to 'BostonRB ~ Brian Cardarella is the organizer', 'http://bostonrb.org'
      %li= link_to 'RailsCamp New England', 'http://railscamps.com'
      %li= link_to 'StartupSailing', 'http://startupsailing.com'