%section#contact
  %section
    %h1 Contact
  
    %article
      %h2 Call us - 855.DOCK.YRD
  
    %article
      %h2 Email us
  
      = simple_form_for Contact.new, :validate => true, :remote => true do |f|
        = f.input :company_name,  :label => 'Company Name'
        = f.input :contact_name,  :label => 'Contact Name'
        = f.input :contact_email, :label => 'Contact Email'
        = f.input :message, :as => :text
        = f.submit 'Send'