%section#how-we-work
  %section
    %h1 How we work

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#ruby-on-rails'} Ruby on Rails
        %li
          %a{:href => '/#jquery'} jQuery
        %li
          %a{:href => '/#phonegap'} PhoneGap
        %li
          %a{:href => '/#postgresql'} PostgreSQL
        %li
          %a{:href => '/#agile-development'} Agile Development

    %article#ruby-on-rails
      %h2 Ruby on Rails
      = image_tag 'rails.png'
      .content
        %p When it comes to getting big things done fast, Ruby on Rails is the top web application framework available. We have been developing in RoR since before version 1.0, and we are experts in the Ruby programming language.

    %article#jquery
      %h2 jQuery
      = image_tag 'jquery.png'
      .content
        %p Rich Internet Applications built with JavaScript are the future of the web. That’s why we choose to build applications in jQuery, the world’s most popular JavaScript library.

    %article#phonegap
      %h2 PhoneGap
      = image_tag 'phonegap.png'
      .content
        %p Why develop a different application for each mobile platform when you can create one  and deploy everywhere? Using PhoneGap, we will build your application to be compatible on all mobile devices. That means one team building a single application, rather than several teams building multiple applications.

    %article#postgresql
      %h2 PostgreSQL
      = image_tag 'postgresql.png'
      .content
        %p We strongly recommend PostgreSQL to all of our clients. It is the premier, most advanced open source database currently available.

    %article#agile-development
      %h2 Agile Development
      = image_tag 'agiledevelopment.png'
      .content
        %p Selecting the proper tools for your project is essential, but this will prove meaningless without an effective execution process. That’s why we practice Agile Development. We test every line of code and work on short, iterative cycles. Whether your business is a lean startup or an established enterprise, the agile process lowers costs, delivers the highest quality code and keeps your project on schedule – despite any unavoidable changing requirements that may spring up unexpectedly.
