%section#how-we-work
  %section
    %h1 How we work

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#ruby-on-rails'} Ruby on Rails
        %li
          %a{:href => '/#jquery'} jQuery
        %li
          %a{:href => '/#phonegap'} PhoneGap
        %li
          %a{:href => '/#postgresql'} PostgreSQL
        %li
          %a{:href => '/#agile-development'} Agile Development

    %article#ruby-on-rails
      %h2 Ruby on Rails
      = image_tag 'rails.png'
      .content
        %p When it comes to getting big things done fast Ruby on Rails is the best web framework out there. We have been delivering applications in Ruby on Rails since before 1.0 and know it and the Ruby language inside and out.

    %article#jquery
      %h2 jQuery
      = image_tag 'jquery.png'
      .content
        %p Rich Web Applications built using Javascript are the future and jQuery is going to take us there. We've been writing in jQuery for years.

    %article#phonegap
      %h2 PhoneGap
      = image_tag 'phonegap.png'
      .content
        %p Why develop a different application for each mobile platform when you can develop one application and deploy everywhere? PhoneGap allows us to use our experience as web developers to build your mobile application once for all mobile devices.

    %article#postgresql
      %h2 PostgreSQL
      = image_tag 'postgresql.png'
      .content
        %p We recommend PostgreSQL to all of our clients. It is the best open source database out there.

    %article#agile-development
      %h2 Agile Development
      = image_tag 'agiledevelopment.png'
      .content
        %p Anybody can be smart about the tools they choose but it means nothing without an effective process. We practice Agile Development. This means we are every line of code and work on short iterative cycles. Whether your business is a lean startup or an established enterprise the agile process brings costs down, delivers the highest quality code and keeps your project on schedule despite unavoidable changing requirements.
