%section#how-we-work
  %section
    %h1 How we work

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#ruby-on-rails'} Ruby on Rails
        %li
          %a{:href => '/#jquery'} jQuery
        %li
          %a{:href => '/#phonegap'} PhoneGap
        %li
          %a{:href => '/#postgresql'} PostgreSQL
        %li
          %a{:href => '/#agile-development'} Agile Development

    %article#ruby-on-rails
      = image_tag 'rails.png'
      Ruby on Rails

    %article#jquery
      = image_tag 'jquery.png'
      jQuery

    %article#phonegap
      = image_tag 'phonegap.png'
      PhoneGap

    %article#postgresql
      = image_tag 'postgresql.png'
      PostgreSQL

    %article#agile-development
      = image_tag 'agiledevelopment.png'
      Agile Development
