%section#how-we-work
  %section
    %h1 How we work

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#ruby-on-rails'} Ruby on Rails
        %li
          %a{:href => '/#jquery'} jQuery
        %li
          %a{:href => '/#phonegap'} PhoneGap
        %li
          %a{:href => '/#postgresql'} PostgreSQL
        %li
          %a{:href => '/#agile-development'} Agile Development

    %article#ruby-on-rails
      %h2 Ruby on Rails
      = image_tag 'rails.png'
      .content
        %p Fo shizzle ipsizzle dolor dizzle amizzle, consectetuer adipiscing elit. Nullam sapien velizzle, shizznit volutpat, suscipit quizzle, gravida vizzle, fo shizzle. Pellentesque you son of a bizzle tortor. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Ma nizzle at dolizzle dapibus turpis tempizzle that's the shizzle. Da bomb pellentesque nibh daahng dawg fizzle. Gangsta in funky fresh. Pellentesque eleifend sheezy phat. Crackalackin yippiyo platea dictumst. Donec dapibus. Curabitur dang urna, pretizzle fo shizzle, mattis izzle, dizzle vitae, bizzle. Black suscipizzle. Integizzle semper boom shackalack sizzle purus.

    %article#jquery
      %h2 jQuery
      = image_tag 'jquery.png'
      .content
        %p Fo shizzle ipsizzle dolor dizzle amizzle, consectetuer adipiscing elit. Nullam sapien velizzle, shizznit volutpat, suscipit quizzle, gravida vizzle, fo shizzle. Pellentesque you son of a bizzle tortor. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Ma nizzle at dolizzle dapibus turpis tempizzle that's the shizzle. Da bomb pellentesque nibh daahng dawg fizzle. Gangsta in funky fresh. Pellentesque eleifend sheezy phat. Crackalackin yippiyo platea dictumst. Donec dapibus. Curabitur dang urna, pretizzle fo shizzle, mattis izzle, dizzle vitae, bizzle. Black suscipizzle. Integizzle semper boom shackalack sizzle purus.

    %article#phonegap
      %h2 PhoneGap
      = image_tag 'phonegap.png'
      .content
        %p Fo shizzle ipsizzle dolor dizzle amizzle, consectetuer adipiscing elit. Nullam sapien velizzle, shizznit volutpat, suscipit quizzle, gravida vizzle, fo shizzle. Pellentesque you son of a bizzle tortor. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Ma nizzle at dolizzle dapibus turpis tempizzle that's the shizzle. Da bomb pellentesque nibh daahng dawg fizzle. Gangsta in funky fresh. Pellentesque eleifend sheezy phat. Crackalackin yippiyo platea dictumst. Donec dapibus. Curabitur dang urna, pretizzle fo shizzle, mattis izzle, dizzle vitae, bizzle. Black suscipizzle. Integizzle semper boom shackalack sizzle purus.

    %article#postgresql
      %h2 PostgreSQL
      = image_tag 'postgresql.png'
      .content
        %p Fo shizzle ipsizzle dolor dizzle amizzle, consectetuer adipiscing elit. Nullam sapien velizzle, shizznit volutpat, suscipit quizzle, gravida vizzle, fo shizzle. Pellentesque you son of a bizzle tortor. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Ma nizzle at dolizzle dapibus turpis tempizzle that's the shizzle. Da bomb pellentesque nibh daahng dawg fizzle. Gangsta in funky fresh. Pellentesque eleifend sheezy phat. Crackalackin yippiyo platea dictumst. Donec dapibus. Curabitur dang urna, pretizzle fo shizzle, mattis izzle, dizzle vitae, bizzle. Black suscipizzle. Integizzle semper boom shackalack sizzle purus.

    %article#agile-development
      %h2 Agile Development
      = image_tag 'agiledevelopment.png'
      .content
        %p Fo shizzle ipsizzle dolor dizzle amizzle, consectetuer adipiscing elit. Nullam sapien velizzle, shizznit volutpat, suscipit quizzle, gravida vizzle, fo shizzle. Pellentesque you son of a bizzle tortor. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle erizzle. Ma nizzle at dolizzle dapibus turpis tempizzle that's the shizzle. Da bomb pellentesque nibh daahng dawg fizzle. Gangsta in funky fresh. Pellentesque eleifend sheezy phat. Crackalackin yippiyo platea dictumst. Donec dapibus. Curabitur dang urna, pretizzle fo shizzle, mattis izzle, dizzle vitae, bizzle. Black suscipizzle. Integizzle semper boom shackalack sizzle purus.