%section#who-we-are
  %section.wrapper
    %h1 Who we are

    %article.about-dockyard
      %h2 About DockYard
      %p DockYard is a software consultancy based in Boston, MA. We primarily service the Northeast, but have worked with companies on the West Coast and outside the US. We take pride in steering your project toward smart, simple solutions.

      %h2#community Community

      %article
        %h3 Our Open Source Software
        %ul
          %li= link_to 'ClientSideValidations', 'https://github.com/bcardarella/client_side_validations'
          %li= link_to 'ValidAttribute', 'https://github.com/bcardarella/valid_attribute'
          %li= link_to 'BetterAR', 'https://github.com/bcardarella/better_ar'
          %li= link_to 'RemarkableMongoid', 'https://github.com/bcardarella/remarkable_mongoid'

      %article
        %h3 Events we organize
        %ul
          %li= link_to 'RailsCamp New England', 'http://railscamps.com'
          %li= link_to 'StartupSailing', 'http://startupsailing.com'

    %article.team
      %h2 The Team
      %ul
        %li
          .photo
            %img{ :src => '/assets/brian.jpg' }
          .info
            %h3
              Brian Cardarella
            .role
              Owner
            .github
              %a{:href => 'https://github.com/bcardarella', :target => '_blank'}
                github
            %ul.skills
              %li Project Management
              %li Development
        %li
          .photo
            %img{ :src => '/assets/angelo.jpg' }
          .info
            %h3
              Angelo Simeoni
            .role
              Partner
            .github
              %a{:href => 'https://github.com/cssboy', :target => '_blank'}
                github
            %ul.skills
              %li Design
        %li
          .photo
            %img{ :src => '/assets/russ.jpg' }
          .info
            %h3
              Russell Jones
            .role
              Partner
            .github
              %a{:href => 'https://github.com/CodeOfficer', :target => '_blank'}
                github
            %ul.skills
              %li Development

