%section#who-we-are
  %section
    %h1 Who we are

    %article.about-dockyard
      %h2 About DockYard
      %p DockYard is a software consultancy based in Boston, MA. We service primarily the north east but have worked with companies on the west coast and outside the US.

    %h2 Team
    %ul.team
      %li.odd
        .photo
          %img{ :src => "/assets/brian.jpg" }
          = link_to '', 'http://twitter.com/bcardarella', :class => 'twitter social', :title => 'Twitter'
          = link_to '', 'https://github.com/bcardarella',  :class => 'github social', :title => 'Github'
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
      %li.even
        .photo
          %img{ :src => "/assets/brian.jpg" }
          = link_to '', 'http://twitter.com/bcardarella', :class => 'twitter social', :title => 'Twitter'
          = link_to '', 'https://github.com/bcardarella',  :class => 'github social', :title => 'Github'
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
      %li.odd
        .photo
          %img{ :src => "/assets/brian.jpg" }
          = link_to '', 'http://twitter.com/bcardarella', :class => 'twitter social', :title => 'Twitter'
          = link_to '', 'https://github.com/bcardarella',  :class => 'github social', :title => 'Github'
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
