%section#who-we-are
  %section.wrapper
    %h1 Who we are

    %article.team
      %h2 The Team
      %ul
        %li
          .photo
            %img{ :src => '/assets/brian.jpg' }
          .info
            %h3
              Brian Cardarella
            .github
              %a{:href => 'https://github.com/bcardarella', :target => '_blank'}
                github
          .role
            .title
              Partner
            %ul.skills
              %li Project Management
              %li Development
        %li
          .photo
            %img{ :src => '/assets/angelo.jpg' }
          .info
            %h3
              Angelo Simeoni
            .dribbble
              %a{:href => 'http://dribbble.com/cssboy', :target => '_blank'}
                dribbble
            .github
              %a{:href => 'https://github.com/cssboy', :target => '_blank'}
                github
          .role
            .title
              Partner
            %ul.skills
              %li Design
        %li
          .photo
            %img{ :src => '/assets/russ.jpg' }
          .info
            %h3
              Russell Jones
            .github
              %a{:href => 'https://github.com/CodeOfficer', :target => '_blank'}
                github
          .role
            .title
              Partner
            %ul.skills
              %li Development
        %li
          .photo
            %img{ :src => '/assets/dan.png' }
          .info
            %h3
              Dan Seaver
            .github
              %a{:href => 'https://github.com/danseaver', :target => '_blank'}
                github
          .role
            %ul.skills
              %li Development

        %li.socko
          .photo
            %img{ :src => '/assets/socko.png' }
          .info
            %h3
              Socko
            .github
              %a{:href => 'https://github.com/sockothesock', :target => '_blank'}
                github
          .role
            .title
              Jerk
            %ul.skills
              %li Debauchery

    %article.about-dockyard
      %h2 About DockYard
      %p DockYard is a software consultancy based in Boston, MA. We primarily service the Northeast, but have worked with companies on the West Coast and outside the US. We take pride in steering your project toward smart, simple solutions.

      %h2#community Community

      %article
        %h3 Our Open Source Software
        %ul
          %li= link_to 'ClientSideValidations', 'https://github.com/bcardarella/client_side_validations', :target => '_blank'
          %li= link_to 'ValidAttribute', 'https://github.com/bcardarella/valid_attribute', :target => '_blank'
          %li= link_to 'BetterAR', 'https://github.com/bcardarella/better_ar', :target => '_blank'
          %li= link_to 'RemarkableMongoid', 'https://github.com/bcardarella/remarkable_mongoid', :target => '_blank'

      %article
        %h3 Events we organize
        %ul
          %li= link_to 'Boston Ruby Group', 'http://bostonrb.org', :target => '_blank'
          %li= link_to 'RailsCamp New England', 'http://railscamps.com', :target => '_blank'
          %li= link_to 'StartupSailing', 'http://startupsailing.com', :target => '_blank'

