%section#who-we-are
  %section
    %h1 Who we are

    %article.about-dockyard
      %h2 About DockYard
      %p DockYard is a software consultancy based in Boston, MA. We service primarily the north east but have worked with companies on the west coast and outside the US.

    %h2 Team
    %ul.team
      %li.odd
        .photo
          %img{ :src => "/assets/brian.jpg" }
          -# %ul.social
          -#   %li.twitter= link_to 'Twitter', 'http://twitter.com/bcardarella', {:title => 'Twitter'}
          -#   %li.github= link_to 'Github',  'https://github.com/bcardarella', {:title => 'Github'}
          = link_to '', 'https://github.com/bcardarella',  :class => 'github social'
          = link_to '', 'http://twitter.com/bcardarella', :class => 'twitter social'
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
      %li.even
        .photo
          %img{ :src => "/assets/brian.jpg" }
          %ul.social
            %li.twitter= link_to 'Twitter', 'http://twitter.com/bcardarella', {:title => 'Twitter'}
            %li.github= link_to 'Github',  'https://github.com/bcardarella', {:title => 'Github'}
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
      %li.odd
        .photo
          %img{ :src => "/assets/brian.jpg" }
          %ul.social
            %li.twitter= link_to 'Twitter', 'http://twitter.com/bcardarella', {:title => 'Twitter'}
            %li.github= link_to 'Github',  'https://github.com/bcardarella', {:title => 'Github'}
        .info
          %h3
            Brian Cardarella &ndash; Principal
          %p
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
