%section.two
  %section.wrapper
    = render :partial => 'home/what'
    = render :partial => 'home/how'
= render :partial => 'home/projects'
= render :partial => 'home/who'
= render :partial => 'home/community'
= render :partial => 'home/contact'
