%body#contact
  .title
    .wrap
      %h1 Contact
  .content
    .wrap
      .col1
        .bold Want to hire us?
        %p We are always want to work with great clients and help make their vision a reality. Hire us to build your web or mobile applications.
        .bold Want to join us?
        %p We are always looking to hire great developers and designers. If you want to work with the best you should work here.
        %a.address{:href => 'http://goo.gl/maps/G4pnP', :target => '_blank'}
          %p
            101 Tremont Street,
            %br
            Suite 200 (second floor)
            %br
            Boston, MA 02108
      .col2
        .headline Contact Us
        = simple_form_for Contact.new, :validate => true, :url => new_contact_path, :remote => true, :class => 'inFieldLabel' do |f|
          = f.input :name, :placeholder => 'Name'
          = f.input :email, :placeholder => 'Email'
          = f.input :company, :placeholder => 'Company (optional)'
          = f.input :find_us, :label => 'How did you find us?', :placeholder => 'How did you find us?'
          = f.input :message, :as => :text, :placeholder => 'Leave us a message!'
          = f.submit 'Submit', :class => 'submit'
      .col3
        %iframe{:frameborder => "0", :width => "302", :height => "343", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=101+Tremont+St,+Boston,+MA&aq=0&oq=101&sll=42.37839,-71.112214&sspn=0.08344,0.136127&ie=UTF8&hq=&hnear=101+Tremont+St,+Boston,+Massachusetts+02108&t=m&ll=42.365393,-71.058197&spn=0.023147,0.025835&z=14&iwloc=A&output=embed"}
        %a.address{:href => 'http://goo.gl/maps/G4pnP', :target => '_blank'}
          %p
            101 Tremont Street,
            %br
            Suite 200 (second floor)
            %br
            Boston, MA 02108
      .clear

:javascript
$(function(){
  $(':text, [type="email"], [type="password"], textarea').inFieldLabel();
})