!!! 5
%html
  %head
    %title DockYard
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %script{:src => "http://use.typekit.com/ocs3hao.js"}
    %script try{Typekit.load();}catch(e){}

    = csrf_meta_tags

  %body
    %header
      = render :partial => 'layouts/header'

    %section#content
      = yield

    %footer
      = render :partial => 'layouts/footer'