!!! 5
%html
  %head
    %title
      DockYard ~ Ruby on Rails Development - Boston based Web and Mobile software development
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    /[if lt IE 9]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
    %script{:src => "http://use.typekit.com/ocs3hao.js"}
    %script try{Typekit.load();}catch(e){}
    %script{:src => 'http://konami-js.googlecode.com/svn/trunk/konami.js'}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24185112-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = csrf_meta_tags
    %meta{:name => 'description', :content => 'DockYard is consultancy for hire based in Boston, MA. We specialize in Ruby on Rails development, web development, mobile development, software development, and mobile web development for startups and enterprise.'}
    %meta{:name => 'keywords',    :content => 'ruby on rails, rails, ruby, ruby on rails training, ruby development, ruby on rails development, software development, web, web development, mobile, mobile development, ios, ios development, iphone, iphone development, android, android development, postgres, startups, enterprise, Boston, MA, Massachusetts, for hire'}
    %link{:rel => 'author', :href => '/humans.txt'}

  %body
    %header
      = render :partial => 'layouts/header'

    %section#content
      = yield

    %footer
      = render :partial => 'layouts/footer'
