!!!5
%html
  %head
    %title DockYard ~ Ruby on Rails Development | Boston-based Web &amp; Mobile Software Consultancy
    = stylesheet_link_tag :application, :media => :all
    = stylesheet_link_tag :print, :media => :print
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js'
    = javascript_include_tag :application
    %link{:rel => :author, :type => 'text/plain', :href => '/humans.txt'}
    %link{:href => "http://fonts.googleapis.com/css?family=Poly:400,400italic", :rel => "stylesheet", :type => "text/css"}/
    %meta{:name => 'description', :content => 'DockYard is consultancy for hire based in Boston, MA. We specialize in Ruby on Rails application development, web application development, mobile application development, software application development, and mobile web application development for startups and enterprise.'}
    %meta{:name => 'keywords',    :content => 'ruby on rails, rails, ruby, ruby on rails training, ruby application development, ruby on rails application development, software application development, web, web application development, mobile, mobile application development, ios, ios application development, iphone, iphone application development, android, android application development, postgres, startups, enterprise, Boston, MA, Massachusetts, for hire'}
    %meta{:name => :alexaVerifyID, :content => :AWwZXpho2WYIa9xUGHKvAwrb9Nw}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
    %link{:rel => 'author', :href => '/humans.txt'}
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24185112-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :head
    
    :plain
      <!--
                                                                              ..
                                                                           ,Z+O.
                                                                        .OO.O.. 
                                                                       OZ..O.   
                                                                   ..OO..87.    
                                                                  .O7O..O...    
                                                                .O...Z~O.       
                                                             .:Z~. ..Z..        
                                                            +O.O   .8..         
                                               ...       .OO.  O  O?.           
                                       ..ZOOOOOOOOOZOOO.ZOZ.   .OO..            
                                     .OOOOOOOOOOOOOOOOOO..Z.   $O.              
                                   .ZOOOOOOOOOOOOOOOOOO.  .O..O.                
                                  .ZOOOOOOOOOOOOOOOOOOOZ  .:O$.                 
                                  OZOOOOOOOOOOO...OOOOOOOZ$ZO                   
                                ..OOOOOOOOOOOOO  .OOOOOOOOOOO..                 
                                .OOOOOOOOOOOOOOOOOOOOOOOOOOOOO.                 
                                .OOOOOOOOOOOOOOOOOOOOOOOOOOOOZ.                 
                                OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO.                 
                               .OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO.                 
                               :OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO.                 
                               ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ.                 
                               OOOOOOOOOOOOOOOOOOOOOOOOOOOO7OO.                 
                               ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ.                 
                               OOOOOOZOOOOOOOO.ZOOOOOOOOOOO7OO.                 
                               ZOOOOO.OOOOOOOO.OOOOOOOOOO.  OO.                 
          ...     ..           OOOOO.OOOOOOOO.OOOOOOOOO.   .O:                  
          .OOZ...OOO.        ..OOOOO.OOOOOOO.OOOOOOOOZ.    .Z..                 
          .OOOOOOOOO         .ZOOOOO.OOOOO..OOOOOOOO~      .Z                   
           .OOOOOOO.         .OOOOOO.OZZ..OOOOOOOOO.      .?O                   
            .OOOOOI.        .OOOOOOO..,ZOOOOOOOOOO..      .O.                   
             .OOOOZ.      ..ZOOOOOOOOOOOOOOOOOOOO~        .O.                   
             .OOOOO= .....ZOOOOOOOOOOOOOOOOOOOOOO.      ..O.                    
             ..OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ       .,OO.                    
              .ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO.     ...OO..                    
               .OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO.   ...OO.                       
               ..ZOOOOOOOOOOOOOOOOOOOOOOOOOOOO.... OZO..                        
                ...OOOOOOOOOOOOOOOOOOOOOOOOOOZOOOZO...                          
                    .....~OOOOOOOOOOOOOOOOO:........                            
                          ................


      -->
  %body{:class => body_classes}
    %header
      = render :partial => 'shared/header'
    %section
      = yield
    %footer
      = render :partial => 'shared/footer'
