!!! 5
%html
  %head
    %title Web and mobile software for hire specializing in Ruby on Rails ~ DockYard
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %script{:src => "http://use.typekit.com/ocs3hao.js"}
    %script try{Typekit.load();}catch(e){}
    = csrf_meta_tags
    %meta{:name => 'description', :content => 'DockYard is a web and mobile software development consultancy for hire based in Boston, MA'}
    %meta{:name => 'keywords',    :content => 'web development, mobile development, startups, enterprise, ruby on rails, rails, ruby, ruby on rails training, Boston, for hire'}
    %link{:rel => 'author', :href => '/humans.txt'}

  %body
    %header
      = render :partial => 'layouts/header'

    %section#content
      = yield

    %footer
      = render :partial => 'layouts/footer'
