!!!5
%html
  %head
    %title DockYard ~ Ruby on Rails Development | Boston-based Web & Mobile Software Consultancy
    = stylesheet_link_tag :application, :media => :all
    = stylesheet_link_tag :print, :media => :print
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js'
    = javascript_include_tag :application
    %link{:rel => :author, :type => 'text/plain', :href => '/humans.txt'}
    %link{:href => "http://fonts.googleapis.com/css?family=Poly:400,400italic", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    = yield :head

  %body{:class => body_classes}
    %header
      = render :partial => 'shared/header'
    %section
      = yield
    %footer
      = render :partial => 'shared/footer'
